body {
  padding-top: 50px;
  font-family: 'Raleway', sans-serif;
  /* background-image: url(images/surf_bg_2.jpg);
  background-size: cover; */
}

.input-forms{
  padding-left: 25px;
}

.user-name {
  color: blue;
}

.jumbo-landing-page {
  background-image: url(images/surf_bg_2.jpg);
  background-size: cover;
  text-align: center;
  height: 700px;
}

.jumbo-landing-page p {
  color: black;
}

.jumbo-index {
  background-image: url(images/surf_bg_5.jpg);
  background-size:cover;
}

.login-center {
  margin: 0 auto;
  width:30% /* value of your choice which suits your alignment */;
  text-align: center;
  margin-top: 10px;
}

.support-header-text {
  color: black;
}

#jumbo-well {
  background: rgba(137, 195, 233, 0.3)
}

/*
.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 75px; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%;
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
} */
