html{
}

body {
  padding-top: 50px;
  font-family: "Helvetica Neue", Helvetica,'Raleway', sans-serif;
}

.input-forms{

}

.user-name {
  color: blue;
}

.jumbo-landing-page {
  background-image: url(images/surf_bg_2_cropped.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: top;
  /* align-items: center; */
  padding-top: 15%;
  padding-left: 5%;
  font-family: "Helvetica Neue", Helvetica;
}

.jumbo-landing-page p {
  color: #0a7e8c;
}

.jumbo-index {
  /* background-image: url(images/surf_bg_5.jpg); */
  background: #dce9eb;
  background-size:cover;
}

.login-center {
  margin: 0 auto;
  width:30% /* value of your choice which suits your alignment */;
  text-align: center;
  margin-top: 10px;
}

.support-header-text {
  color: black;
}

.custom-navbar {
  background: white;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 5px;
}

.custom-navbar a{
  color: #0a7e8c;
}

.index-container{
}

.index-column-left{
  float: left;
  width: 25%;
  /* padding-left: 5%; */
  padding: 2% 1% 2% 5%;
}
.index-column-right{
  float: right;
  width: 30%;
  /* padding-right: 5%; */
  padding: 2% 5% 2% 1%;
}
.index-column-center{
  display: inline-block;
  width: 45%;
  padding: 2%;
  height: 100%;
  /* position: relative; */
}

.index-jumbo-text{
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding: 2%;
}

.image-container{
  overflow: auto;
}

.image-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#index-page-header{
  font-family: "Helvetica Neue", Helvetica, serif;
  font-weight: 150;
  letter-spacing: 0.01em;
  font-size: 2.5em;
}

#landing-page-header{
  font-family: "Helvetica Neue", Helvetica, serif;
  font-weight: 150;
  letter-spacing: 0.08em;
  font-size: 4.5em;
}

#btn-nav-register{
  border-radius: 4px;
  background-color: white;
  color: #0a7e8c;
  border: 2px solid #0a7e8c;
  padding: 12px;
  margin-right: 5px;
}

#btn-nav-register:hover{
  background-color: #dce9eb;
}

#btn-metallic-bg{
  color: white;
  background-color: #0a7e8c;
}

#btn-metallic-bg:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#btn-landing-page-join{
  background-color: #0a7e8c;
}


/*
.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 75px; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%;
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
} */
