html{
  /* height: 100% */
}

body {
  padding-top: 50px;
  font-family: "Helvetica Neue", Helvetica,'Raleway', sans-serif;
}

.input-forms{
  padding-left: 25px;
}

.user-name {
  color: blue;
}

.jumbo-landing-page {
  background-image: url(images/surf_bg_2_cropped.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: top;
  /* align-items: center; */
  padding-top: 15%;
  padding-left: 5%;
  font-family: "Helvetica Neue", Helvetica;
}

.jumbo-landing-page p {
  color: #0a7e8c;
}

.jumbo-index {
  background-image: url(images/surf_bg_5.jpg);
  background-size:cover;
}

.login-center {
  margin: 0 auto;
  width:30% /* value of your choice which suits your alignment */;
  text-align: center;
  margin-top: 10px;
}

.support-header-text {
  color: black;
}

#jumbo-well {
  background: rgba(137, 195, 233, 0.3)
}

.custom-navbar {
  background: white;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 5px;
}

.custom-navbar a{
  color: #0a7e8c;
}

#landing-page-header{
  font-family: "Helvetica Neue", Helvetica, serif;
  font-weight: 150;
  letter-spacing: 0.08em;
  font-size: 4.5em;
}

#btn-nav-register{
  border-radius: 4px;
  background-color: white;
  color: #0a7e8c;
  border: 2px solid #0a7e8c;
  padding: 12px;
  margin-right: 5px;
}

#btn-nav-register:hover{
  background-color: #dce9eb;
}

#btn-landing-page-join{
  background-color: #0a7e8c;
}
/*
.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 75px; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%;
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
} */
