{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<div class="login-center well">
  <p id="index-page-header" align="center">Register</p>
  <form class="input-forms justify-content-center" method="post">
    <div class="form-group input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input name="username" class="form-control" id="username" placeholder="Username" required>
    </div>
    <div class="form-group input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
    </div>
    <input type="submit" class="btn btn-primary" id="btn-metallic-bg" value="Register">
  </form>
</div>
{% endblock %}
