{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<div class="login-center well">
  <p id="index-page-header">New Post</p>
  <form class="input-forms justify-content-center" method="post">
    <div class="form-group input-group">
    <!-- <label for="title">Title</label> -->
    <span class="input-group-addon"><i class="glyphicon glyphicon-sunglasses"></i></span>
    <input name="title" id="title" class="form-control"
    placeholder="Title" value="{{ request.form['title'] }}" required>
    </div>

    <div class="form-group input-group">
    <!-- <label for="body">Body</label> -->
    <span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
    <textarea name="body" class="form-control" placeholder="What's on your mind?"
    id="body">{{ request.form['body'] }}</textarea>
    </div>
    <input type="submit" class="btn btn-primary" id="btn-metallic-bg" value="Save">

  </form>
</div>
{% endblock %}
